.ubicacion-formulario{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    h3{
        @include bordes(solid, $naranja, 3px, 11px 11px 11px 11px);
        margin: 10px 100px;
        padding: 10px;
        color: $naranja; 
    }
    .formulario{
        margin-top: 10px;
    }
}