.profesionales-pagina{
    h1{
        @include bordes(solid, $naranja, 3px, 11px 11px 11px 11px);
        @include tituloh1($naranja, 3rem, $font, 700, italic);
        margin: 10px 100px;
        padding: 10px;
        text-align: left;
    }
    div{
        @include bordes(solid, $naranja, 3px, 11px 11px 11px 11px);
        margin: 10px auto;
        padding: 10px;
    }
    img{
        width: 400px;
        height: 250px;
    }

}