.profesionales-pagina{
    h1{
        border-radius: 11px 11px 11px 11px;
        border: 3px solid #E57C23;
        margin: 10px 100px;
        padding: 10px;
        color: #E57C23;
        text-align: left;
    }
    div{
        border-radius: 11px 11px 11px 11px;
        border: 3px solid #E57C23;
        margin: 10px auto;
        padding: 10px;
    }
    img{
        width: 400px;
        height: 250px;
    }

}