@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
$naranja:#E57C23;
$font:'Open Sans', sans-serif;

@mixin bordes ($tipo, $color, $ancho, $radio) {
    border-style: $tipo;
    border-color: $color;
    border-width: $ancho;
    border-radius: $radio;
}
@mixin tituloh1 ($color, $size, $familia, $peso, $estilo){
    color: $color;
    font-size: $size;
    font-family: $familia;
    font-weight: $peso;
    font-style: $estilo;
}
    
